<div class="block monster frame">
<h2 id="pinstriped-famine-sheep">Nom du monstre</h2>
<p><em>Type, Taille, Alignement</em></p>
<hr>
<p><span style="color: rgb(109, 47, 28);"><strong>Classe d'armure</strong> &nbsp;</span>X (x)<br><span style="color: rgb(109, 47, 28);"><strong>Point de vie</strong>&nbsp; </span>X (xd10+x)<br><span style="color: rgb(109, 47, 28);"><strong>Vitesse</strong></span>&nbsp; X m</p>
<hr>
<table>
<thead>
<tr>
<th><strong>FOR</strong></th>
<th><strong>DEX</strong></th>
<th><strong>CON</strong></th>
<th><strong>INT</strong></th>
<th><strong>SAG</strong></th>
<th><strong>CHA</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">10</td>
<td style="text-align: center;">10</td>
<td style="text-align: center;">10</td>
<td style="text-align: center;">10</td>
<td style="text-align: center;">10</td>
<td style="text-align: center;">10</td>
</tr>
</tbody>
</table>
<hr>
<p><span style="color: rgb(109, 47, 28);"><strong>Comp&eacute;tence</strong></span> X<br><strong><span style="color: rgb(109, 47, 28);">Sens </span></strong>X<span style="color: rgb(109, 47, 28);"><strong><br></strong><strong>Langues</strong></span> X<br><span style="color: rgb(109, 47, 28);"><strong>Puissance </strong></span>X</p>
<hr>
<p><strong>Aptitude 1. </strong><span style="font-family: ScalySansRemake; font-size: 0.318cm;">This creature gains advantage on any check involving putting things in its nose.</span></p>
<p><strong>Aptitude 2. </strong><span style="font-family: ScalySansRemake; font-size: 0.318cm;">This creature gains advantage on any check involving putting things in its nose.</span></p>
<p><strong>Aptitude 3. </strong><span style="font-family: ScalySansRemake; font-size: 0.318cm;">When questioned, this creature will talk back instead of answering.</span></p>
<h3 id="actions">Actions</h3>
<p><strong>Gory Body Sweep. </strong>Melee Weapon Attack: <span style="font-family: ScalySansRemake; font-size: 0.318cm;">+4 to hit, reach 5ft., one target. </span>Hit <span style="font-family: ScalySansRemake; font-size: 0.318cm;">5 (1d6 + 2)</span></p>
<p><strong>Bulldog Rake. </strong>Melee Weapon Attack: <span style="font-family: ScalySansRemake; font-size: 0.318cm;">+4 to hit, reach 5ft., one target. </span>Hit <span style="font-family: ScalySansRemake; font-size: 0.318cm;">5 (1d6 + 2)</span></p>
</div>