@font-face{
    font-family:Calibri;
    src:url('../fonts/calibri.ttf') format('truetype');
    font-weight:normal;
    font-style:normal		
}
@font-face{
    font-family:Calibrib;
    src:url('../fonts/calibrib.ttf') format('truetype');
    font-weight:bold;
    font-style:normal		
}
@font-face{
    font-family:Calibrii;
    src:url('../fonts/calibrii.ttf') format('truetype');
    font-weight:normal;
    font-style:italic		
}
@font-face{
    font-family:Morris;
    src:url('../fonts/MorrisRomanBlack.ttf') format('truetype');
    font-weight:normal;
    font-style:normal		
}

/*/ journal /*/
/*/ Titres /*/
.journal-sheet h1, .editor-content h1 {
	font-family: Morris;
	color:#6d2f1c;
	text-align: center;	
	border-bottom:none;
	font-size: 5em;
    padding-bottom: 20px;
}
.journal-sheet h2, .editor-content h2 {
	font-family: Morris;
	color:#6d2f1c;
	border-bottom:none;
	font-size: 2.5em;
    padding-bottom: 10px;
    padding-left: 10px;
	margin-top: -10px !important;
}
.journal-sheet h2:before, .editor-content h2:before {
    display: inline-block;
    width: 50px;
    height: 50px;
    content: "";
    background: url("../artwork/journal/t2.webp") no-repeat 0 0;
    background-size: 100%;
	position:relative;
    right: 10px;
    top: 22px;
}
.journal-sheet h3, .editor-content h3 {
	font-family: Morris;
	color:#6d2f1c;
	border-bottom:none;
	font-size: 2em;
    padding-left: 6px;
    padding-bottom: 10px;
}
.journal-sheet h3:before, .editor-content h3:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    content: "";
    background: url("../artwork/journal/t3.webp") no-repeat 0 0;
    background-size: 100%;
	position:relative;
    right: 5px;
    top: 6px;
}
.journal-sheet h4:not(.window-title), .editor-content h4 {
	font-family: Morris;
	color:#6d2f1c;
	border-bottom:none;
	font-size: 1.8em;
    padding-bottom: 10px;
}
/*/ Lien et lien-titre /*/
.journal-sheet h3 a, .editor-content h3 a {
    text-decoration: dotted underline #6d2f1c 4px;
    background: transparent;
	padding: 0px;
    border: none;
}
.journal-sheet h3 i::before, .editor-content h3 i::before{
    display:none;
}
.journal-sheet h3 i, .editor-content h3 i {
    color: #6d2f1c;
    margin-right: 0px !important;
}
.journal-sheet h4 a, .editor-content h4 a {
    text-decoration: dotted underline #6d2f1c 4px;
    background: transparent;
	padding: 0px;
    border: none;
}
.journal-sheet h4 i::before, .editor-content h4 i::before{
    display:none;
}
.journal-sheet h4 i, .editor-content h4 i {
    color: #6d2f1c;
    margin-right: 0px !important;
}
a.content-link, a.inline-roll {
    background: transparent;
    padding: 1px 4px;
    border: 1px solid #6d2f1c;
    border-radius: 25px;
    white-space: nowrap;
    word-break: break-all;
    border-top: none;
    border-bottom: none;
}
.journal-sheet a.content-link i, .journal-sheet a.inline-roll i, .editor-content a.content-link i, .editor-content a.inline-roll i {
    color: #6d2f1c;
    margin-right: 0.25em;
}
/*/ Séparateur /*/
.journal-sheet hr, .editor-content hr {
    text-align: center;
    height: 0px;
    border-image: linear-gradient(to right, transparent, #6d2f1c, transparent) 1;
    margin: 30px 10px;
    overflow: visible;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    border-width: 2px;
}
.journal-sheet hr::after, .editor-content hr::after {
    content: url(../artwork/journal/dragon.png);
    bottom: 30px;
    position: relative;
}

/*/ Paragraphe /*/
.journal-sheet p {
	color:black;
	font-family:Calibri;
	font-size:1.1rem;
	text-align:justify;
	line-height: 1.15;
}
.editor-content p {
	color:black;
	font-family:Calibri;
	font-size:1rem;
	text-align:justify;
	line-height: 1.15 !important;
}

/*/ Liste (li) /*/
.journal-sheet ul {
	font-family:Calibri;
	font-size:1.1rem;
	text-align:justify;
}
.editor-content ul {
	font-family:Calibri;
	font-size:1rem;
	text-align:justify;
}
.journal-sheet ul, .editor-content ul { list-style: none;} {
}
.journal-sheet li, .editor-content li { position: relative;} {
}
.journal-sheet li:not(li.heading.h2, li.heading.h3, li.heading.h4), .editor-content li {
	padding-left:20px;
}
.journal-sheet ul li::marker, .editor-content ul li::marker {
    position: absolute;
    left: -21px;
    top: 2px;
    vertical-align: middle;
    display: inline-block;
    content: url(../artwork/journal/puce.png);
}
.journal-sheet ul li li::marker, .editor-content ul li li::marker {
    position: absolute;
    left: -21px;
    top: 2px;
    vertical-align: middle;
    display: inline-block;
    content: '•';
}
.editor-content li {
	margin-bottom: 10px;
}
/*/ Correction Prosemirror (li) /*/
.prosemirror menu li {
	padding-left:0px !important;
}
.prosemirror menu .pm-dropdown li {
	list-style: none !important;
	color:antiquewhite !important;
	font-family:none !important;
	font-size:none !important;
	text-align:none !important;
	margin-bottom:none !important;
	padding-left:none !important;
}
.prosemirror menu .pm-dropdown li::before {
	display:none;
	margin-bottom:none !important;
	padding-left:none !important;
}
.prosemirror menu .pm-dropdown ul li {
	margin-bottom:none !important;
	padding-left:none !important;
}
/*/ Tables /*/
.journal-sheet table, .editor-content table {
	border-collapse: collapse;
	border-style: hidden;
	background:transparent;
}
.journal-sheet table td, .editor-content table td {
	border: 2px solid #6d2f1c;
	background:transparent;
	padding: 5px;
}
.journal-sheet table tr:nth-child(even), .editor-content table tr:nth-child(even) {
	background:transparent;
}
/*/ Blockquote /*/
.journal-sheet blockquote, .editor-content blockquote {
    background-color:#6d2f1c;
    border:none;
    border-radius:3px;
    color:#fff;
    font-weight:400;
	font-style: normal !important;
    margin-right:30px !important;
    margin-left:30px !important;
    margin-bottom:0;
    padding:0;
    padding:1em 1.5em;
    padding-left:2em;
    position:relative
}
.journal-sheet blockquote p, .editor-content blockquote p {
	color:white;
}
.journal-sheet blockquote:before, .editor-content blockquote:before {
    background-color:#fff;
    border:2px solid #e9d7a1);
    border-radius:3em;
    color:#6d2f1c;
    content:"";
    display:grid;
    font-family:Font Awesome\ 5 Free;
    font-style:normal;
    font-weight:900;
    height:2em;
    left:-1.2em;
    padding-left:2px;
    padding-top:2px;
    place-content:center;
    position:absolute;
    top:1em;
    width:2em;
}
/*/ Nouvelles classes /*/
.journal-sheet .narration {
    font-family: Calibri;
	font-size:1.1rem;
	text-align:justify;
    background-color: #faf7ea;
    border-style: solid;
    border-width: 7px;
    border-image: url(../artwork/journal/narration.png) 12 stretch;
    border-image-outset: 4px;
    padding: .1em;
    filter: drop-shadow(0 0 3px #faf7ea);
	margin-left:30px;
	margin-right:30px;
}
.editor-content .narration {
    font-family: Calibri;
	font-size:1rem;
	text-align:justify;
    background-color: #faf7ea;
    border-style: solid;
    border-width: 7px;
    border-image: url(../artwork/journal/narration.png) 12 stretch;
    border-image-outset: 4px;
    padding: .1em;
    filter: drop-shadow(0 0 3px #faf7ea);
	margin-left:30px;
	margin-right:30px;
}
.journal-sheet .colonne {
	column-count: 2;
	color:black;
	font-family:Calibri;
	font-size:1.1rem;
	text-align:justify
}
.editor-content .colonne {
	column-count: 2;
	color:black;
	font-family:Calibri;
	font-size:1rem;
	text-align:justify
}
/*/ Image /*/
.journal-sheet img, .editor-content img {
    border: none;
}
/*/ Image profil /*/
.dnd5e.sheet.item .sheet-header img.profile {
	border:none;
}
.dnd5e.sheet .sheet-header img.profile {	
	border-right:none;
}

/*/ Fiche de perso /*/
.dnd5e.sheet.actor.character {
    min-width: 740px !important;
    min-height: 855px !important;
    width: 740px;
    height: 855px;

}
select option {
    color: antiquewhite;
}
.dnd5e.sheet.item {
    min-height: 715px;
    max-height: 95%;
    min-width: 600px;
}
.dnd5e.sheet.actor.npc {
    min-width: 740px !important;
    min-height: 855px !important;
}
.property-attribution table td {
    color: antiquewhite;
}
a.config-button.midiqol-onuse-macros {
    color: antiquewhite !important;
}
.dnd5e.sheet.actor .traits label {
	color: #4b4a44;
}

/*/ UI /*/
.tidy5e.sheet.actor .items-list .item .ammo-switch {
    height: unset;
    margin-left: 4px;
    font-size: 12px;
    font-family: "Calibri";
	color:antiquewhite;
}
.tidy5e.sheet.actor input[type=checkbox], .tidy5e.sheet.actor input[type=radio], .tidy5e.sheet.actor button, .tidy5e.sheet.actor select {
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: antiquewhite !important;
}
.tidy5e.sheet.item .sheet-body .editor .editor-content p, .tidy5e.sheet.item .sheet-body .editor .editor-content li {
	line-height: 1.15 !important;
}
.journal-sheet .journal-header {
	display:none;
}
.window-app.sheet.journal-sheet.journal-entry .window-content .journal-entry-pages .scrollable {
	margin-top: 0px !important;
}
.window-app.sheet.journal-sheet.journal-entry .window-content .journal-header .title {
	color: antiquewhite !important;
}
#sidebar .tab[data-tab].settings-sidebar h2:nth-of-type(2) {
	background-image: url("../artwork/ui/ui-title-ribbon-red.png") !important;
	color: antiquewhite !important;
}
#sidebar .tab[data-tab].settings-sidebar h2 {
	background-image: url("../artwork/ui/ui-title-ribbon-red.png") !important;
	color: antiquewhite !important;
}	
#sidebar .tab[data-tab].settings-sidebar h2:nth-of-type(3) {
	background-image: url("../artwork/ui/ui-title-ribbon-red.png") !important;
	color: antiquewhite !important;
}
#sidebar .tab[data-tab].settings-sidebar h2:nth-of-type(4) {
	background-image: url("../artwork/ui/ui-title-ribbon-red.png") !important;
	color: antiquewhite !important;
}
.tab.sidebar-tab.compendium-sidebar h3 {
	background-image: url("../artwork/ui/ui-title-ribbon-red.png") !important;
	color: antiquewhite !important;
}
.dialog .dialog-buttons button.default{
	filter: grayscale(80%);
}
#ui-bottom #hotbar #macro-list .macro:after {
  background-image: none !important;
}
.tidy5e.sheet.actor .spellcasting-ability select {
    color: antiquewhite;
}
.dnd5e.sheet select {
    background: rgb(0 0 0 / 50%);
    color: antiquewhite;
}
.dnd5e.sheet.item .details select {
    background: rgb(0 0 0 / 50%);
    color: antiquewhite;
}
.sheet.journal-entry-page {
    min-width: 640px;
}

/*/ Monster Frame /*/
.monster.frame {
    border-style: solid;
    border-width: 7px 6px;
    background-color: #f2e5b5;
    background-image: url(../artwork/journal/parchement.jpg);
    border-image: url(../artwork/journal/Border.png) 14 round;
    border-image-outset: 0px 2px;
    background-blend-mode: overlay;
    background-attachment: fixed;
    filter: drop-shadow(1px 4px 6px #888);
    padding: 4px 2px;
    margin-left: 18%;
    margin-right: -0.16cm;
    width: calc(70%);
}
.monster {
    font-family: ScalySansRemake;
    font-size: .318cm;
    line-height: 1.2em;
    position: relative;
    padding: 0px;
    margin-bottom: .325cm;
}
.block {
    break-inside: avoid;
    display: inline-block;
    width: 100%;
}
.monster h2 {
    font-family: Morris;
    color: #6d2f1c;
    border-bottom: none;
    font-size: 2.3em;
	padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px !important;
}
.monster h2+p {
    font-size: .304cm;
    margin-bottom: 0;
}
.monster p, .monster dl, .monster ul, .monster ol {
    line-height: 1.2em;
}
.monster hr {
    visibility: visible;
    height: 6px;
    margin: .12cm 0;
    background-image: url("../artwork/journal/separateur2.svg");
    background-size: 100% 100%;
    border: none;
}
.monster hr::after {
	content:''
}
.blank {
    height: 1em;
    margin-top: 0;
}
.monster h2::before {
	display:none;
}
.monster h3::before {
	display:none;
}
.monster h3 {
	font-family: Morris;
	color:#6d2f1c;
	border-bottom:none;
	font-size: 2em;
	padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px !important;
}
.monster table {
	border-collapse: collapse;
	border-style: hidden;
	background:transparent;
}
.monster table thead {
	background: transparent;
    color: #6d2f1c;
    text-shadow: none;
    border-bottom: none;
}
.monster table td {
	border: 2px solid transparent;
	background:transparent;
	padding: 5px;
}
.monster table tr:nth-child(even) {
	background:transparent;
}
.monster p {
	color:black;
	font-family:Calibri;
	font-size:1rem;
	text-align:justify
}